/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

/*======================= Navbar =======================*/
.colorNav {
    background-color: #192231;
}

.logo-brand img {
    float: left;
    padding-top: 0.8%;
    width: 8.5%;
    margin-left: 20%;
    margin-right: 29%;
}

#logo {
    opacity: 0;
    transition-duration: 0.6s;
}

.topnav {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2%;
}

.topnav a:hover {
    text-decoration: none;
    background-color: #E14658;
    color: #fff;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}
/*======================= Parallax =======================*/
#imgHeader {
    background-image: url(../img/photo-01.PNG);
    width: 100%;
    height: 100%;

    /*Efeito*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#imgHeader img{
    margin-top: 20%;
    width: 30%;
    height: 30%;
}

/*======================= Timeline =======================*/
.circle,.year{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.certificado{
    width: 100%;
    height: 39%;
}

#sobre{
    padding-bottom: 5%;
}

.row{
    padding-top: 5%;
}

.container{
    padding-top: 6%;
}

.subtitle{
    text-align: center;
}

.main-timeline9 {
    position: relative
}

.circle i{
    margin: 0 auto;
    margin-top: 25%;
}

.main-timeline9:after,
.main-timeline9:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline9:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #192231;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline9 .timeline {
    width: 50%;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline9 .timeline:after,
.main-timeline9 .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline9 .timeline:first-child:before,
.main-timeline9 .timeline:last-child:before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #cca872;
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1
}

.main-timeline9 .timeline:last-child:before {
    top: auto;
    bottom: 0
}

.main-timeline9 .timeline:last-child:nth-child(even):before {
    right: auto;
    left: -12px;
    bottom: -2px
}

.main-timeline9 .timeline-content {
    text-align: center;
    margin-top: 11%;
    position: relative;
    transition: all .3s ease 0s
}

.main-timeline9 .timeline-content:before {
    content: "";
    width: 100%;
    width: 100%;
    height: 5px;
    background: #cca872;
    position: absolute;
    top: 88px;
    left: 0;
    z-index: -1
}

.main-timeline9 .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    border: 8px solid #cca872;
    float: left;
    margin-right: 25px;
    position: relative
}

.main-timeline9 .circle span:after,
.main-timeline9 .circle span:before,
.main-timeline9 .circle:before {
    content: "";
    margin: auto;
    position: absolute;
    right: -33px;
    bottom: 0;
    z-index: -1
}

.main-timeline9 .circle:before {
    width: 26px;
    height: 30px;
    background: #cca872;
    top: 0;
    box-shadow: inset 7px 0 9px -7px #444
}

.main-timeline9 .circle span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #adabab;
    font-size: 80px;
    color: #454344;
}

.main-timeline9 .circle span:after,
.main-timeline9 .circle span:before {
    width: 28px;
    height: 50px;
    background: #fff;
    border-radius: 0 0 0 21px;
    top: -54px;
}

.main-timeline9 .circle span:after {
    border-radius: 21px 0 0;
    top: 0;
    bottom: -56px
}

.main-timeline9 .content {
    display: table;
    padding-right: 40px;
    position: relative
}

.main-timeline9 .year {
    display: block;
    padding: 10px;
    margin: 10px 0 50px;
    background: #cca872;
    border-radius: 7px;
    font-size: 140%;
    font-weight: 500;
    color: #fff
}

.main-timeline9 .title {
    font-size: 130%;
    font-weight: 700;
    color: #cca872;
    margin-top: 0
}

.main-timeline9 .icon span:after,
.main-timeline9 .icon span:before,
.main-timeline9 .icon:before {
    content: "";
    height: 25px;
    margin: auto;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: -15px;
}

.main-timeline9 .description {
    /*font-size: 81%;*/
    color: #a6a6a6;
    text-align: justify;
}

.main-timeline9 .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #cca872;
    position: absolute;
    top: 78px;
    right: -14px
}

.main-timeline9 .icon:before {
    width: 15px;
    background: #cca872;
    top: -1px
}

.main-timeline9 .icon span:after,
.main-timeline9 .icon span:before {
    width: 21px;
    background: #fff;
    border-radius: 0 0 21px;
    top: -30px
}

.main-timeline9 .icon span:after {
    border-radius: 0 21px 0 0;
    top: 0;
    left: -15px;
    bottom: -30px
}

.main-timeline9 .timeline:nth-child(2n) .circle,
.main-timeline9 .timeline:nth-child(2n) .timeline-content {
    float: right
}

.main-timeline9 .timeline:nth-child(2n) .circle {
    margin: 0 0 0 25px
}

.main-timeline9 .timeline:nth-child(2n) .circle:before {
    right: auto;
    left: -33px;
    box-shadow: -7px 0 9px -7px #444 inset
}

.main-timeline9 .timeline:nth-child(2n) .circle span:after,
.main-timeline9 .timeline:nth-child(2n) .circle span:before {
    right: auto;
    left: -33px;
    border-radius: 0 0 21px
}

.main-timeline9 .timeline:nth-child(2n) .circle span:after {
    border-radius: 0 21px 0 0
}

.main-timeline9 .timeline:nth-child(2n) .content {
    padding: 0 0 0 40px;
    margin-left: 2px
}

.main-timeline9 .timeline:nth-child(2n) .icon {
    right: auto;
    left: -14px
}

.main-timeline9 .timeline:nth-child(2n) .icon span:after,
.main-timeline9 .timeline:nth-child(2n) .icon span:before,
.main-timeline9 .timeline:nth-child(2n) .icon:before {
    left: auto;
    right: -15px
}

.main-timeline9 .timeline:nth-child(2n) .icon span:before {
    border-radius: 0 0 0 21px
}

.main-timeline9 .timeline:nth-child(2n) .icon span:after {
    border-radius: 21px 0 0
}

.main-timeline9 .timeline:nth-child(2) {
    margin-top: 180px
}

.main-timeline9 .timeline:nth-child(odd) {
    margin: -175px 0 0
}

.main-timeline9 .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline9 .timeline:first-child,
.main-timeline9 .timeline:last-child:nth-child(even) {
    margin: 0
}

@media only screen and (max-width:990px) {
    .main-timeline9:before {
        left: 100%
    }

    .main-timeline9 .timeline {
        width: 100%;
        float: none;
        margin-bottom: 20px !important
    }

    .main-timeline9 .timeline:first-child:before,
    .main-timeline9 .timeline:last-child:before {
        left: auto !important;
        right: -13px !important
    }

    .main-timeline9 .timeline:nth-child(2n) .circle {
        float: left;
        margin: 0 25px 0 0
    }

    .main-timeline9 .timeline:nth-child(2n) .circle:before {
        right: -33px;
        left: auto;
        box-shadow: 7px 0 9px -7px #444 inset
    }

    .main-timeline9 .timeline:nth-child(2n) .circle span:after,
    .main-timeline9 .timeline:nth-child(2n) .circle span:before {
        right: -33px;
        left: auto;
        border-radius: 0 0 0 21px
    }

    .main-timeline9 .timeline:nth-child(2n) .circle span:after {
        border-radius: 21px 0 0
    }

    .main-timeline9 .timeline:nth-child(2n) .content {
        padding: 0 40px 0 0;
        margin-left: 0
    }

    .main-timeline9 .timeline:nth-child(2n) .icon {
        right: -14px;
        left: auto
    }

    .main-timeline9 .timeline:nth-child(2n) .icon span:after,
    .main-timeline9 .timeline:nth-child(2n) .icon span:before,
    .main-timeline9 .timeline:nth-child(2n) .icon:before {
        left: -15px;
        right: auto
    }

    .main-timeline9 .timeline:nth-child(2n) .icon span:before {
        border-radius: 0 0 21px
    }

    .main-timeline9 .timeline:nth-child(2n) .icon span:after {
        border-radius: 0 21px 0 0
    }

    .main-timeline9 .timeline:nth-child(2),
    .main-timeline9 .timeline:nth-child(even),
    .main-timeline9 .timeline:nth-child(odd) {
        margin: 0
    }
}

@media only screen and (max-width:480px) {
    .main-timeline9:before {
        left: 0
    }

    .main-timeline9 .timeline:first-child:before,
    .main-timeline9 .timeline:last-child:before {
        left: -12px !important;
        right: auto !important
    }

    .main-timeline9 .circle,
    .main-timeline9 .timeline:nth-child(2n) .circle {
        width: 130px;
        height: 130px;
        float: none;
        margin: 0 auto
    }

    .main-timeline9 .timeline-content:before {
        width: 99.5%;
        top: 68px;
        left: .5%
    }

    .main-timeline9 .circle span {
        line-height: 115px;
        font-size: 60px
    }

    .main-timeline9 .circle span:after,
    .main-timeline9 .circle span:before,
    .main-timeline9 .circle:before,
    .main-timeline9 .icon {
        display: none
    }

    .main-timeline9 .content,
    .main-timeline9 .timeline:nth-child(2n) .content {
        padding: 0 10px
    }

    .main-timeline9 .year {
        margin-bottom: 15px
    }

    .main-timeline9 .description {
        text-align: center
    }
}

/*======================= Galeria (Botões) =======================*/
#portfolio {
    padding-top: 6.5%;
    text-align: center;
}

span ul{
    width: 100%;
}

span ul li{
    width: 100%;
    white-space: nowrap;
}


.filter-button {
    font-size: 18px;
    text-align: center;
    color: #3f3250;
    background: none;
    border-radius: 2px;
    border: 1px solid transparent;
    font-weight: 600;
    padding: 0.4%;
    margin-bottom: 1%;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #3f3250;
    border-radius: 2px;
    color: #ffffff;
    background-color: #3f3250;
    padding: 0.4%;
    margin-bottom: 1%;
}
/*======================= Galeria (Projetos) =======================*/

.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 33%;
    font-weight: 500;
    margin: 0;
    padding: 1.8%;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #192231;
    color: #E14658;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 21px;
    margin-bottom: 2%;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #E14658;
    color: #fff;
}

.cs-style-4 li {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.cs-style-4 figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cs-style-4 figure > div {
    overflow: hidden;
}

.cs-style-4 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
}

.cs-style-4 figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}


/*======================= Division Contact =======================*/
.divisaoContato {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    color: #fff;
    background: #3f3250;
}

.title {
    font-size: 30pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.divisaoContato h3 {
    font-size: 14pt;
    color: #e9e9e9;
}

/*======================= Contact =======================*/
#contato {
    display: inline-block;
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 2%;
}

.campoDuplo {
    width: 100%;
    margin-bottom: 3%;
    display: inline-block;
}

.contatos {
    width: 65%;
    background: #494e6b;
    border: 1px solid #494e6b;
    margin-bottom: 6%;
    margin-left: 5%;
    padding: 2%;
    overflow: hidden;
    margin-top: 7%;
    float: left;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
}

.icone {
    float: left;
    width: 10%;
    color: #fff;
    background-color: #3f3250;
    border: 1px solid #3f3250;
    text-align: center;
    font-size: 13pt;
    border-radius: 4px 0 0 4px;
    padding-top: 4%;
    padding-left: 1%;
}

input {
    float: left;
    border: 1px solid #ccc;
    width: 85%;
    padding: 0.5%;
    padding-bottom: 0.7%;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 3%;
}

select {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
}


.campoDuplo:nth-child(3) {
    float: left;
}

input:focus,
select {
    outline: none;
}

.campo,
.campoDuplo,
.campoMensagem {
    display: flex;
}

.campo input {
    width: 100%;
    padding-left: 1%;
}

.campoMensagem {
    margin-top: 2%;
    width: 100%;
}

.campoMensagem .icone {
    width: 7.5%;
    padding-top: 9%;
    padding-bottom: 10%;
}

#mensagem {
    resize: none;
    overflow: auto;
    width: 100%;
    padding-bottom: 31%;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding-left: 1%;
}

.loading {
    background-image: url(../img/loading.gif);
    background-size: contain;
    height: 9%;
    width: 7.5%;
    display: none;
    margin-left: 1%;
    margin-top: 4%;
};

.botao {
    clear: both;
    width: 100%;
    display: inline-block;
}

#enviar {
    margin: 0 auto;
    display: flex;
    color: #fff;
    background-color: #3f3250;
    border-radius: 4px;
    border: 1px solid #3f3250;
    padding: 2%;
    float: left;
    margin-left: 39%;
    margin-top: 4%;
}

#enviar:hover {
    background: #3d2b53;
}
.formLeft {
    float: left;
    width: 50%;
}

.formRight {
    float: right;
    width: 50%;

}

.profile-card-3 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: right;
    overflow: hidden;
    width: 21%;
    text-align: center;
    height: 368px;
    border: none;
    margin-top: 7%;
    margin-right: 5%;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
}

.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.profile-card-3 .background-block .background {
    width: 100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    -webkit-transform: scale(1.8);
    transform: scale(2.8);
}

.profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color: #232323;
    float: left;
    background: #efefef;
    height: 50%;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 9999;
}

.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}

.profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index: 99999;
}

.profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 25px;
}

.profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.fa-linkedin,
.fa-github-square {
    display: inline-block;
    font-size: 40px;
    color: #192231;
    text-align: center;
    border: 1px solid #232323;
    line-height: 30px;
    border-radius: 10%;
    margin: 0 5px;
    border: none;
}


.profile-card-3 .icon-block {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.profile-card-3 .icon-block a {
    text-decoration: none;
    border-radius: 10%;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.fa-linkedin:hover {
    color: #007bb5;
}

.fa-github-square:hover {
    color: #E14658;
}


.profile-card-3:hover .profile {
    margin-bottom: 20%;

}

.profile-card-3:hover .redeSocial {
    margin-top: -30px;
    margin-bottom: 15px;
}

.card-content .description {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.profile-card-3:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*======================= Footer =======================*/
footer p {
    padding: 1%;
    margin: 0;
    background-color: #192231;
    display: block;
    text-align: center;
    color: #fff;
}
/*======================= Medias =======================*/

/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
/*======================================= Início - Barra de navegação =======================================*/
@media (max-width: 768.98px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        font-size: 40px;
        float: right;
        display: block;
        padding: 7%;
    }

    .topnav.responsive {
        position: fixed;
        z-index: 999;
        text-align: center;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 40px;
        padding: 7%;
    }

    .topnav.responsive a {
        clear: both;
        float: none;
        padding: 4%;
        display: block;
        font-weight: 500;
        font-size: 23px;
    }
    
    .responsive a:first-child{
        margin-top: 3%;
    }

    #logo {
        margin-left: 20%;
        width: 30%;
        padding: 2%;
        margin-bottom: 2%;
    }
    
    #icone{
        transition-duration: 1s;
    }
}

@media (max-width: 518.98px){
    .topnav a.icon {
        font-size: 40px;
        float: right;
        display: block;
        padding: 3.5%;
        
    }
    #logo {
        width: 30%;
        margin-bottom: 3%;
    }
    
    .topnav a.icon {
        padding: 6%;
    }
    
    .topnav.responsive .icon {
        padding: 6%;
    }
}

@media (max-width: 405.98px){
    #logo {
        width: 28%;
        margin-bottom: 3%;
    }
    .topnav a.icon {
        padding: 4%;
    }
    
    .topnav.responsive .icon {
        padding: 4%;
    }
}

@media (min-width: 768.98px) and (max-width: 863.98px) {
    .topnav{
        height: 10%;   
    }
    
    .topnav a{
        padding: 3%;   
    }
    
    #logo {
        margin-right: 20%;
        margin-left: 15%;
        width: 13%;
    }
}

@media (min-width: 864px) and (max-width: 990.98px) {
    .topnav{
        height: 10%;   
    }
    
    .topnav a{
        padding: 3%;   
    }
    
    #logo {
        margin-right: 20%;
        margin-left: 15%;
        width: 11%;
    }
}

@media (min-width: 991px) and (max-width: 1024.98px) {
        .topnav{
        height: 9%;   
    }
    
    .topnav a{
        font-size: 30px;
        padding: 4%;   
    }
    
    #logo {
        margin-right: 10%;
        margin-left: 5%;
        width: 17%;
        margin-top: 1%;
    }
    
}

/*======================================= Fim - Barra de navegação =======================================*/

/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px ){
    #imgHeader img {
        margin-top: 70%;
        width: 65%;
        height: 20%;
    }
    
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 17px;
    }
    .description{
        font-size: 19px;
        text-align: justify!important;
        margin-left: 5%;
    }
    .filter-button{
        margin: 2%;
    }
    .grid li{
        width: 85%;
        margin-bottom: 10%;
    }
    .contatos {
        width: 90%;
        padding: 4%;
    }
    .formRight,.formLeft{
        margin-top: 0;
        float: none;
        width: 100%;
    }
    input {
        width: 100%;
        padding: 4%;
    }
    #enviar {
        margin-left:  27%;
    }
    .card {
        width: 90%;
    }
    .card-content .description {
        font-size: 16px;
        text-align: center;
    }
    
    .profile-card-3 h2 {
        font-size: 30px;
    }
    
    .profile-card-3 h2 small{
        font-size: 18px;
    }
    
    .fa-linkedin:before, .fa-github-square:before{
        font-size: 50px;
    }
    
    footer{
        font-size: 18px; 
        background: #192231;
        padding: 3%;
    }
    
}

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    
}